<% layout('layouts/boilerplate')%>

<!--Grid Layout -->
<div
  class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-4 g-4"
>
  <% for (let campground of campgrounds) { %>
  <div class="col">
    <div class="card h-100">
      <!-- If no images diaply sad icon -->
      <% if (campground.images.length === 0){ %>
      <div
        class="bg-light card-img-top square img-fluid d-flex flex-column align-items-center justify-content-center"
      >
        <a href="/campgrounds/<%=campground._id%>">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="86"
            height="86"
            fill="gray"
            class="bi bi-emoji-frown"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
            />
            <path
              d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"
            />
          </svg>
        </a>
        <p class="text-muted mt-3">No photos yet!</p>
      </div>
      <% } else { %>
      <a href="/campgrounds/<%=campground._id%>">
        <img
          src="<%= campground.images[0].url %>"
          class="card-img-top square img-fluid"
          alt="..."
        />
      </a>
      <% } %>
      <div class="card-body">
        <!-- Title -->
        <h5 class="d-inline card-title"><%= campground.title %></h5>
        <!-- Rating -->
        <div class="d-inline float-end">
          <img
            class="d-inline align-baseline"
            src="https://res.cloudinary.com/dbkdxsoia/image/upload/v1662231684/YelpCamp/star-svgrepo-com_gxflaa.svg"
            alt="star icon"
            width="12"
            height="12"
          />
          <!-- If no ratings display n/a  else display rating-->
          <% if (campground.rating === 0){ %>
          <p class="d-inline">new</p>
          <% } else { %>
          <div class="d-inline"><%= campground.rating %></div>
          <br />
          <% } %>
        </div>
        <!-- Location -->
        <h6 class="card-subtitle mb-2 mt-2 text-muted">
          <%= campground.location %>
        </h6>
        <!-- Price -->
        <p class="card-text">
          <small class="text-muted"
            ><b><%= campground.price %> CHF</b> / per night
          </small>
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted"
          >Submitted by: <%= campground.author.username %></small
        >
      </div>
    </div>
  </div>
  <% } %>
</div>

<div
  class="position-sticky"
  style="
    background: rgba(255, 192, 203, 0);
    bottom: 0;
    width: 100%;
    height: 200px;
  "
>
  <div class="position-absolute top-50 start-50 translate-middle">
    <a href="/campgrounds/map">
      <button
        type="button"
        class="btn btn-dark btn-lg rounded-pill shadow-lg px-4 py-2"
      >
        Show map
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-map"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M15.817.113A.5.5 0 0 1 16 .5v14a.5.5 0 0 1-.402.49l-5 1a.502.502 0 0 1-.196 0L5.5 15.01l-4.902.98A.5.5 0 0 1 0 15.5v-14a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0L10.5.99l4.902-.98a.5.5 0 0 1 .415.103zM10 1.91l-4-.8v12.98l4 .8V1.91zm1 12.98 4-.8V1.11l-4 .8v12.98zm-6-.8V1.11l-4 .8v12.98l4-.8z"
          />
        </svg>
      </button>
    </a>
  </div>
</div>
